Package: xyz.potatso.clipboardpro
Name: cliboardPro
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Potatso
Author: Potatso
Section: Tweaks
